.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botoes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botoes Button {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: #ecf0f1;
}